.estudios {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: azure;
}

.container-estudios{
    width: 100%;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    margin: 8rem;
}

.imagen-perfil1{
    border-radius: 50%;
}

/* Celular (Pantalla pequeña, hasta 767px) */
@media (max-width: 767px) {
    .container-estudios {
        width: 100%;
        margin: 0rem;
    }
    .estudios {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        font-size: small;
    }
}

/*Tableta (Pantalla medianas, entre 768px y 1023px*/
@media (min-width: 768px) and (max-width: 1023px) {
    .estudios {
        width: 75%;
    }
}

/* Escritorio (Pantallas anchas, 1024 y superiores) */
@media (min-width: 1024px) {
    .estudios {
        width: 75%;
    }
    .container-estudios-section {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
}