.proyectos {
    width: 80%;
    padding: 1rem;
    background: var(--fondo-proyecto);
}

/* Esta es el contenedor general que engloba a los proyectos */
.galeria-proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/* Como es el contenedor del proyecto en general */
.proyecto {
    background-color: rgb(53, 52, 52); /* Color de fondo de la tarjeta*/
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% - 40px); /* Ajusta el ancho segun la cantidad de proyectos a mostrar en una fila */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

/* Imagen del proyecto */
.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Titulo del proyecto */
.proyecto h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Descripcion del proyecto */
.proyecto p {
    margin: 10px 0;
}

/* Botones enlaces ancor */
.proyecto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/*Botones de los proyectos*/
.proyecto a:hover {
    background-color: #0056b3;
}

/* Media Query para hacerlo responsivo Celular*/
@media (max-width: 767px) {
    .proyecto {
        width: calc(100% - 40px);

    }
}

/* Media Query para hacerlo responsivo Tableta*/
@media (min-width: 768px) and (max-width: 1023px) {
    .proyecto {
        width: calc(50% - 40px);
    }
}

/* Media Query para hacerlo responsivo Desktop*/
@media (min-width: 1024px) {
    .proyecto {
        width: calc(33% - 40px);
    }
}








