
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
.li__a{
    
    color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
h1 {
    margin-top: 0;
}
p {
    line-height: 1.6;
}

